<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PlannerExternalCalendarServiceBinding">
                    <security>
                        <transport realm="" clientCredentialType="None"/>
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://service.bm.dk/pjaktass/1/PlannerExternalCalendarService.svc" binding="basicHttpBinding" bindingConfiguration="PlannerExternalCalendarServiceBinding" contract="DfdgService.PlannerExternalCalendarService" name="PlannerExternalCalendarService" behaviorConfiguration="PlannerExternalCalendarServiceBehavior">
                <identity>
                    <dns value="*.amstest.dk"/>
                </identity>
            </endpoint>
        </client>
        <behaviors>
            <endpointBehaviors>
                <behavior name="PlannerExternalCalendarServiceBehavior">
                    <clientCredentials>
                        <clientCertificate findValue="CVR:99999999-FID:9999999999999" x509FindType="FindBySubjectName" storeName="My" storeLocation="LocalMachine"/>
                        <serviceCertificate>
                            <defaultCertificate findValue="*.amstest.dk" x509FindType="FindBySubjectName" storeName="My" storeLocation="LocalMachine"/>
                        </serviceCertificate>
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
