<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PlannerCalendarClient.EventProcessorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="ECSClientExchangeDbEntities" connectionString="!!STUB THE DATABASE FOR TESTING!!" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <target value="Console.Error" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\temp\PlannerCalendarClient.UnitTest.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Log opening]&#xD;&#xA;" />
        <footer value="[Log closing]&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <applicationSettings>
    <PlannerCalendarClient.EventProcessorService.Properties.Settings>
      <setting name="NotificationProcessingInterval" serializeAs="String">
        <value>00:00:04</value>
      </setting>
      <setting name="SimultaniousCalls" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="AppointmentWeeksNumber" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="FullAppointmentPullSchedule" serializeAs="String">
        <value>15:31</value>
      </setting>
      <setting name="MakeFullCalendarPullAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
    </PlannerCalendarClient.EventProcessorService.Properties.Settings>
  </applicationSettings>
</configuration>