<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlannerCalendarClient.EventProcessorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PlannerCalendarClient.ExchangeServiceCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <connectionStrings>
        <add name="ECSClientExchangeDbEntities" connectionString="metadata=res://*/ClientEntities.csdl|res://*/ClientEntities.ssdl|res://*/ClientEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[data source name];initial catalog=[database name];integrated security=sspi;MultipleActiveResultSets=True;App=EventProcessorService&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>

    <log4net>
        <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
            <threshold value="INFO"/>
            <applicationName value="PCC Event Processor Service" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - [%property{EventID}] - %message%newline" />
            </layout>
        </appender>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <target value="Console.Error" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{EventID}] %message%newline" />
            </layout>
        </appender>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file type="log4net.Util.PatternString" value="C:\NNIT\Logs\EventProcessorService.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="15" />
            <maximumFileSize value="20MB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <header value="[Log opening]&#xD;&#xA;" />
                <footer value="[Log closing]&#xD;&#xA;" />
                <conversionPattern value="%date [%thread] %level %logger - [%property{EventID}] - %message%newline" />
            </layout>
        </appender>
        <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
            <immediateFlush value="true" />
            <layout type="log4net.Layout.SimpleLayout" />
        </appender>
        <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
            <threshold value="INFO"/>
            <bufferSize value="1" />
            <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <connectionString value="data source=[data source name];initial catalog=[database name];integrated security=sspi;MultipleActiveResultSets=True;App=PlannerCommunicatorService" />
            <commandText value="INSERT INTO ApplicationLog ([Date],[Thread],[Level],[Logger],[Message],[Exception],[EventId],[ApplicationName]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @eventId, @appName)" />
            <parameter>
                <parameterName value="@log_date" />
                <dbType value="DateTime" />
                <layout type="log4net.Layout.RawTimeStampLayout" />
            </parameter>
            <parameter>
                <parameterName value="@thread" />
                <dbType value="String" />
                <size value="255" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%thread" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@log_level" />
                <dbType value="String" />
                <size value="50" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%level" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@logger" />
                <dbType value="String" />
                <size value="255" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%logger" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@message" />
                <dbType value="String" />
                <size value="4000" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%message" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@exception" />
                <dbType value="String" />
                <size value="2000" />
                <layout type="log4net.Layout.ExceptionLayout" />
            </parameter>
            <parameter>
                <parameterName value="@eventId" />
                <dbType value="String" />
                <size value="50" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%property{EventID}" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@appName" />
                <dbType value="String" />
                <size value="255" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%property{AppName}" />
                </layout>
            </parameter>
        </appender>
        <root>
            <level value="ALL" />
            <appender-ref ref="EventLogAppender" />
            <appender-ref ref="AdoNetAppender" />
            <appender-ref ref="RollingFileAppender" />
            <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>

    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="mssqllocaldb" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>

    <applicationSettings>
        <PlannerCalendarClient.EventProcessorService.Properties.Settings>
            <setting name="NotificationProcessingInterval" serializeAs="String">
                <value>00:00:04</value>
            </setting>
            <setting name="FullAppointmentPullSchedule" serializeAs="String">
                <value>02:00</value>
            </setting>
            <setting name="SimultaniousCalls" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MakeFullCalendarPullAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CalendarEventsPeriodInMonths" serializeAs="String">
                <value>3</value>
            </setting>
        </PlannerCalendarClient.EventProcessorService.Properties.Settings>

        <PlannerCalendarClient.ExchangeServiceCreator.Properties.Settings>
            <setting name="ExchangeServiceUserMail" serializeAs="String">
                <value />
            </setting>
            <setting name="ExchangeServiceUserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ExchangeUseDefaultCredentials" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="exchangeServiceUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="EwsTraceFlags" serializeAs="String">
                <!--
            /// No tracing.
            None = 0,
            /// Trace EWS request messages.
            EwsRequest = 1,
            /// Trace EWS response messages.
            EwsResponse = 2,
            /// Trace EWS response HTTP headers.
            EwsResponseHttpHeaders = 4,
            /// Trace Autodiscover request messages.
            AutodiscoverRequest = 8,
            /// Trace Autodiscover response messages.
            AutodiscoverResponse = 16,
            /// Trace Autodiscover response HTTP headers.
            AutodiscoverResponseHttpHeaders = 32,
            /// Trace Autodiscover configuration logic.
            AutodiscoverConfiguration = 64,
            /// Trace messages used in debugging the Exchange Web Services Managed API
            DebugMessage = 128,
            /// Trace EWS request HTTP headers.
            EwsRequestHttpHeaders = 256,
            /// Trace Autodiscover request HTTP headers.
            AutodiscoverRequestHttpHeaders = 512,
            /// Trace EWS timezone related logic.
            EwsTimeZones = 1024,
            /// All trace types enabled.
            All = Int64.MaxValue,
        -->
                <value>None</value>
            </setting>
            <setting name="ServicePointManagerDefaultConnectionLimit" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EnableScpLookup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseImpersonation" serializeAs="String">
                <value>True</value>
            </setting>
        </PlannerCalendarClient.ExchangeServiceCreator.Properties.Settings>
    </applicationSettings>
</configuration>
