<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlannerCalendarClient.ExchangeServiceCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PlannerCalendarClient.ExchangeServiceCreator.Properties.Settings>
            <setting name="ExchangeServiceUserMail" serializeAs="String">
                <value />
            </setting>
            <setting name="ExchangeServiceUserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ExchangeUseDefaultCredentials" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exchangeServiceUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="EwsTraceFlags" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ServicePointManagerDefaultConnectionLimit" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EnableScpLookup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseImpersonation" serializeAs="String">
                <value>False</value>
            </setting>
        </PlannerCalendarClient.ExchangeServiceCreator.Properties.Settings>
    </applicationSettings>
</configuration>